@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.flex{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-container{
    text-align: center;
}
.flex-menu{
    width: 20%;
    background-color: #FFF;
    min-height: 100vh;
}
/* Colores */

.white {
color: #fff
}
.Platinum {
    color: #E8EBE4
}
.gray {
    color: #BEC1BB
}
.blue-bell {
    color: #A491D2
}
.soap {
    color: #CDC3E6
}
.pale-lavender {
    color: #D2DCFF
}
.dark-jungle {
    color: #1b1F21
}
.outer-space {
    color: #444749
}
.old-silver {
    color: #828485
}

#principal {
    background-color: #E8EBE4;
    width: 80%;
    min-height: 100vh;
}
#principal h1{
    font-size: 45px;
    font: x-large;
    margin-top: 10px;
    margin-bottom: 0px;
}
#principal p{
    font-size: 24px;
    font: medium;
    font-weight: 400;
}
#principal img {
    width: 300px;
}