@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* clases Generales */

.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-container{
    text-align: center;
}
.flex-menu{
    width: 20%;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    min-height: 100vh;
    flex-direction: column;
}

/* Colores */

.white {
color: #fff
}
.Platinum {
    color: #E8EBE4
}
.gray {
    color: #BEC1BB
}
.blue-bell {
    color: #A491D2
}
.soap {
    color: #CDC3E6
}
.pale-lavender {
    color: #D2DCFF
}
.dark-jungle {
    color: #1b1F21
}
.outer-space {
    color: #444749
}
.old-silver {
    color: #828485
}
.icono-verde{
    color: lime;
}
/* Seccion Menu */

.card {
    flex-direction: row;
    border-top: solid 1px #828485;
    justify-content: start;

    }

.card-estado {
    justify-content: start;
    flex-direction: row;
    margin-top: 20px;
    }

#contactos img{
    border-radius: 50px;
    margin: 15px;
    border: 2px solid #A491D2;
}

.space-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #828485;
}
i{
    width: 30px;
    color: #828485;
}
i:hover{
    color: #A491D2;
}

button{
    margin: 50px;
    font-size: 1em;
    font-weight: bold;
    padding: 20px 70px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: #A491D2;
}
button:hover{
    background-color: #CDC3E6;
}
button:focus{
    background-color: #BEC1BB;
}

menu ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
   }

menu li{
    padding: 0em;
    list-style: none;
   }

menu {
    width: 10em;
   }
menu p{
    
}

h4{
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
h4:hover{
    color:#A491D2
}
#gran-principal p{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

/* seccion principal para el chat */

#principal {
    background-color: #E8EBE4;
    width: 80vw;
    min-height: 100vh;
    gap: 25px;
    border-left: solid 2px #A491D2;
}
#principal h1{
    font-size: 45px;
    font: x-large;
    margin-top: 10px;
    margin-bottom: 0px;
}
#principal p{
    font-size: 24px;
    font: medium;
    font-weight: 400;
}
#principal img {
    width: 300px;
}

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #A491D2;
    color: #fff;
    height: auto;
    padding: 15px;
}
